[Desktop Entry]
Name=Shortcut Tasks
Exec=firefox https://app.shortcut.com/sweetspot/stories/space/50234?team_scope_id=v2%3At%3A5d885fd8-f7ca-4312-a713-2194288ad41f%3A652912d2-f31d-418e-bf93-366511cb6bd1
Type=Application
