*foreground:   #AAB2BF
*background:   #0F0F14
*cursor:  #FFFFFF
*highlight: #FF00FF

! black
*color0:       #1F1B24
*color8:       #5E5079

! red
*color1:       #FF2C6D
*color9:       #FF4C8E

! green
*color2:       #0AD2AB
*color10:      #1AFFC1

! yellow
*color3:       #FFE156
*color11:      #FFF476

! blue
*color4:       #3783FF
*color12:      #589CFF

! magenta
*color5:       #FB94FF
*color13:      #FFA6FF

! cyan
*color6:       #26EDDF
*color14:      #48FFFC

! white
*color7:       #AAB2BF
*color15:      #CCD4E4

## Xft.dpi: 192
