*foreground:   #AAB2BF
*background:   #0F0F14
*cursorColor:  #FFFFFF
*highlightColor: #FF00FF

! black
*color0:       #1F1B24
*color8:       #5E5079

! red
*color1:       #FF2C6D
*color9:       #FF4C8E

! green
*color2:       #0AD2AB
*color10:      #1AFFC1

! yellow
*color3:       #FFE156
*color11:      #FFF476

! blue
*color4:       #3783FF
*color12:      #589CFF

! magenta
*color5:       #FB94FF
*color13:      #FFA6FF

! cyan
*color6:       #26EDDF
*color14:      #48FFFC

! white
*color7:       #AAB2BF
*color15:      #CCD4E4


URxvt.font: xft:Hack Nerd Font:size=10
URxvt.boldFont: xft:Hack Nerd Font:size=10
URxvt.italicFont: xft:Hack Nerd Font:size=10
URxvt.boldItalicFont: xft:Hack Nerd Font:size=10

URxvt.scrollBar: false
URxvt.internalBorder: 0
URxvt.externalBorder: 0

! URxvt.transparent: true
! URxvt.shading: 20

URxvt*perl-ext-common: default,resize-font
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-plus: resize-font:bigger
URxvt.keysym.C-equal: resize-font:reset
URxvt.keysym.C-question: resize-font:show
