[Desktop Entry]
Name=Slack
Comment=Open Slack in Firefox Browser
Exec=firefox --new-window https://app.slack.com/client
Icon=firefox
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
